.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    padding: 0;
    color: white;
    text-decoration: none;
  }
  
  .footer__column-link:hover {
    opacity: 0.33;
    transition: ease-in 1s;
  }
  
  