.feynman__link {
    position: absolute;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    text-decoration: none;
    right: 40px;
    top: 50%;
    color: #2f80ed;
    z-index: 1;
  }
  
  .feynman__link:hover {
    opacity: 0.33;
    transition: ease-in 1s;
  }
  