.two-columns__main-text {
    height: 100%;
    list-style-type: none;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    width: 80%;
    min-width: 784px;
    margin-top: 0;
  }