.header__subtitle {
    max-width: 388px;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    margin: 0;
    position: absolute;
    bottom: 30px;
    z-index: 2;
    left:64px;
  }