.khan__buy-link {
    margin-left: 48px;
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
  }
  
  .khan__buy-link:hover {
    opacity: 0.33;
    transition: ease-in 1s;
  }